SDE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SDE"
  targetNamespace="urn:SDE"
 xmlns:tns="urn:SDE"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:SDE"
  xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
  xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

  <schema targetNamespace="urn:SDE"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ns="urn:SDE"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <complexType name="SDEKey"><!-- ns:SDEKey -->
          <sequence>
            <element name="sessionKey" type="xsd:string" minOccurs="0" maxOccurs="1" default="0"/><!-- ns:SDEKey::sessionKey -->
          </sequence>
    </complexType>
    <!-- operation request element -->
    <element name="getLoginInfo">
      <complexType>
          <sequence>
            <element name="session" type="ns:SDEKey" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__getLoginInfo::session -->
            <element name="desiredOnyen" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__getLoginInfo::desiredOnyen -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="getLoginInfoResponse">
      <complexType>
          <sequence>
            <element name="response" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__getLoginInfo::response -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="addOnyen">
      <complexType>
          <sequence>
            <element name="session" type="ns:SDEKey" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__addOnyen::session -->
            <element name="desiredOnyen" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__addOnyen::desiredOnyen -->
            <element name="desiredPassword" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__addOnyen::desiredPassword -->
            <element name="desiredEmail" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__addOnyen::desiredEmail -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="addOnyenResponse">
      <complexType>
          <sequence>
            <element name="response" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__addOnyen::response -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="deleteUser">
      <complexType>
          <sequence>
            <element name="session" type="ns:SDEKey" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__deleteUser::session -->
            <element name="desiredOnyen" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__deleteUser::desiredOnyen -->
            <element name="desiredPassword" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__deleteUser::desiredPassword -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="deleteUserResponse">
      <complexType>
          <sequence>
            <element name="response" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__deleteUser::response -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="getRegisteredClasses">
      <complexType>
          <sequence>
            <element name="session" type="ns:SDEKey" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__getRegisteredClasses::session -->
            <element name="desiredOnyen" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__getRegisteredClasses::desiredOnyen -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="getRegisteredClassesResponse">
      <complexType>
          <sequence>
            <element name="response" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/><!-- ns__getRegisteredClasses::response -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="registerClass">
      <complexType>
          <sequence>
            <element name="session" type="ns:SDEKey" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__registerClass::session -->
            <element name="desiredOnyen" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__registerClass::desiredOnyen -->
            <element name="desiredClass" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__registerClass::desiredClass -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="registerClassResponse">
      <complexType>
          <sequence>
            <element name="response" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__registerClass::response -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="getNextUser">
      <complexType>
          <sequence>
            <element name="session" type="ns:SDEKey" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__getNextUser::session -->
            <element name="desiredClass" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__getNextUser::desiredClass -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="getNextUserResponse">
      <complexType>
          <sequence>
            <element name="response" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__getNextUser::response -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="markEnrollPass">
      <complexType>
          <sequence>
            <element name="session" type="ns:SDEKey" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__markEnrollPass::session -->
            <element name="desiredOnyen" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__markEnrollPass::desiredOnyen -->
            <element name="desiredClass" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__markEnrollPass::desiredClass -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="markEnrollPassResponse">
      <complexType>
          <sequence>
            <element name="response" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__markEnrollPass::response -->
          </sequence>
      </complexType>
    </element>
  </schema>

</types>

<message name="getLoginInfoRequest">
  <part name="Body" element="ns:getLoginInfo"/><!-- ns__getLoginInfo::ns__getLoginInfo -->
</message>

<message name="getLoginInfoResponse">
  <part name="Body" element="ns:getLoginInfoResponse"/>
</message>

<message name="addOnyenRequest">
  <part name="Body" element="ns:addOnyen"/><!-- ns__addOnyen::ns__addOnyen -->
</message>

<message name="addOnyenResponse">
  <part name="Body" element="ns:addOnyenResponse"/>
</message>

<message name="deleteUserRequest">
  <part name="Body" element="ns:deleteUser"/><!-- ns__deleteUser::ns__deleteUser -->
</message>

<message name="deleteUserResponse">
  <part name="Body" element="ns:deleteUserResponse"/>
</message>

<message name="getRegisteredClassesRequest">
  <part name="Body" element="ns:getRegisteredClasses"/><!-- ns__getRegisteredClasses::ns__getRegisteredClasses -->
</message>

<message name="getRegisteredClassesResponse">
  <part name="Body" element="ns:getRegisteredClassesResponse"/>
</message>

<message name="registerClassRequest">
  <part name="Body" element="ns:registerClass"/><!-- ns__registerClass::ns__registerClass -->
</message>

<message name="registerClassResponse">
  <part name="Body" element="ns:registerClassResponse"/>
</message>

<message name="getNextUserRequest">
  <part name="Body" element="ns:getNextUser"/><!-- ns__getNextUser::ns__getNextUser -->
</message>

<message name="getNextUserResponse">
  <part name="Body" element="ns:getNextUserResponse"/>
</message>

<message name="markEnrollPassRequest">
  <part name="Body" element="ns:markEnrollPass"/><!-- ns__markEnrollPass::ns__markEnrollPass -->
</message>

<message name="markEnrollPassResponse">
  <part name="Body" element="ns:markEnrollPassResponse"/>
</message>

<portType name="SDEPortType">
  <operation name="getLoginInfo">
    <documentation>Service definition of function ns__getLoginInfo</documentation>
    <input message="tns:getLoginInfoRequest"/>
    <output message="tns:getLoginInfoResponse"/>
  </operation>
  <operation name="addOnyen">
    <documentation>Service definition of function ns__addOnyen</documentation>
    <input message="tns:addOnyenRequest"/>
    <output message="tns:addOnyenResponse"/>
  </operation>
  <operation name="deleteUser">
    <documentation>Service definition of function ns__deleteUser</documentation>
    <input message="tns:deleteUserRequest"/>
    <output message="tns:deleteUserResponse"/>
  </operation>
  <operation name="getRegisteredClasses">
    <documentation>Service definition of function ns__getRegisteredClasses</documentation>
    <input message="tns:getRegisteredClassesRequest"/>
    <output message="tns:getRegisteredClassesResponse"/>
  </operation>
  <operation name="registerClass">
    <documentation>Service definition of function ns__registerClass</documentation>
    <input message="tns:registerClassRequest"/>
    <output message="tns:registerClassResponse"/>
  </operation>
  <operation name="getNextUser">
    <documentation>Service definition of function ns__getNextUser</documentation>
    <input message="tns:getNextUserRequest"/>
    <output message="tns:getNextUserResponse"/>
  </operation>
  <operation name="markEnrollPass">
    <documentation>Service definition of function ns__markEnrollPass</documentation>
    <input message="tns:markEnrollPassRequest"/>
    <output message="tns:markEnrollPassResponse"/>
  </operation>
</portType>

<binding name="SDE" type="tns:SDEPortType">
  <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="getLoginInfo">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body parts="Body" use="literal"/>
    </input>
    <output>
          <SOAP:body parts="Body" use="literal"/>
    </output>
  </operation>
  <operation name="addOnyen">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body parts="Body" use="literal"/>
    </input>
    <output>
          <SOAP:body parts="Body" use="literal"/>
    </output>
  </operation>
  <operation name="deleteUser">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body parts="Body" use="literal"/>
    </input>
    <output>
          <SOAP:body parts="Body" use="literal"/>
    </output>
  </operation>
  <operation name="getRegisteredClasses">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body parts="Body" use="literal"/>
    </input>
    <output>
          <SOAP:body parts="Body" use="literal"/>
    </output>
  </operation>
  <operation name="registerClass">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body parts="Body" use="literal"/>
    </input>
    <output>
          <SOAP:body parts="Body" use="literal"/>
    </output>
  </operation>
  <operation name="getNextUser">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body parts="Body" use="literal"/>
    </input>
    <output>
          <SOAP:body parts="Body" use="literal"/>
    </output>
  </operation>
  <operation name="markEnrollPass">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body parts="Body" use="literal"/>
    </input>
    <output>
          <SOAP:body parts="Body" use="literal"/>
    </output>
  </operation>
</binding>

<service name="SDE">
  <documentation>gSOAP 2.8.32 generated service definition</documentation>
  <port name="SDE" binding="tns:SDE">
    <SOAP:address location="https://mail.andersentech.net:4680"/>
  </port>
</service>

</definitions>
